<div class="main_header">
  <div class=main_header_title>
    hogefuga
  </div>
  <div class="main_header_btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>


<div class="main_content">

  <div class="main_messages">
    <div class="main_messages_name">
      <div class="name">Tom</div>
      <div class="day">2020/03/31(Wed) 12:43:30</div>
    </div>
    <div class="main_messages_content">
      <div class="content">おはよう</div>
    </div>
  </div>

  <div class="main_messages">
    <div class="main_messages_name">
      <div class="name">Tom</div>
      <div class="day">2020/03/31(Wed) 12:43:50</div>
    </div>
    <div class="main_messages_content">
      <div class="content">こんばんは</div>
    </div>
  </div>

</div>


<%=form_with model: [@room,@message], html: {class:"form"},local: true do |f|%>
  <div class="form_message">
    <%= f.text_field :content, class: 'form-content', placeholder: 'type a message' %>
    <%# <input class="form-content" placeholder="type a message"> %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
      <%# <input type="file" class="hidden"> %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
  <%# <input class="form-submit" type="submit" value="送信"> %>
<%end%>
