<div class="side_header">
  <div class="side_header_name">
    <%=link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="side_header_btn">
    <%=link_to "チャットを作成する", new_room_path%>
  </div>
</div>

<div class="side_room">
  <% current_user.rooms.each do |room|%>
    <div class="chat_room">
      <div class="room">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <%end%>
</div>
