.wrapper{
  display: flex;
}

/* サイドバーの画面 */
.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side_header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_header_name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.side_header_btn{
  padding: 14px;
  border: 1px solid lightblue;
}

.side_header_btn a{
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}


.side_room{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow-y: scroll;
}

.chat_room a{
  text-decoration: none;
  color: #fff;
}

.room{
  padding: 20px 20px 40px 20px;
}




/* メインの画面 */
.main_chat{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #fff;
}

.main_header{
  height: 100px;
  padding: 0 40px;
}

.main_content{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
}

.main_footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 0 20px 40px;
}